# Secrets et Identités
.env
scripts/users.json

# --- IA & DONNÉES MASSIVES ---
infra/ai/ollama_data/
infra/ai/ai-env/
**/data/
**/database/
**/grafana-storage/
**/portainer-data/
/mnt/externe/

# --- AFFINAGE JSON ---
# On ignore les JSON dans les dossiers de données, mais on garde les configs racines
**/data/**/*.json
**/database/**/*.json
# On ignore spécifiquement les fichiers npm qui bloquent
infra/npm/

# --- SYSTÈME ---
**/*.log
**/*.pem
__pycache__/
.pytest_cache/
.DS_Store
venv/
.nvm/
.openclaw/

# Historique et Identifiants
.bash_history
.git-credentials
.gemini/
.npm/

# Logs et Bases de données (Prowlarr)
infra/ai/config/prowlarr/logs/
infra/ai/config/prowlarr/*.db

# Données de monitoring temporaires
infra/monitoring/debug_v2.json
infra/monitoring/current_dashboard.json

# Fichiers temporaires SQLite
*.db-shm
*.db-wal
